.loadContainer_HIDDEN {
    display: none;
}

.loadContainer {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 0 35px 0;
}

.loadingPanelBOX {
    position: absolute;

    animation: infinite;
    /*animation-duration: 1.3s;*/
    animation-delay: 0s;
    animation-name: loadingProgress;
}

.loadingPanel {
    border: 1px solid var(--generalColor);
    height: 10px;
    border-radius: var(--borderRadiusCustom);
    position: inherit;
    width: 100%;
    background-color: var(--generalColor);
}


@keyframes loadingProgress {
    0% {
        width: 5%;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 5%;
    }
}

