.formAddTask{
    display: flex;
    justify-content: flex-start;
    padding: 1rem 1rem 0rem 1rem;
}
.formAddTask input{
    outline: none;
    color: var(--textColor);
    padding: 0.5rem 0 0.5rem 0.5rem;
    border: 2px solid var(--generalColor);
    border-radius: var(--borderRadiusCustom) 0 0 var(--borderRadiusCustom);
}
.formAddTask input::placeholder{
    color: var(--textColor);
}
.formAddTask button {
    border-top: 2px solid var(--generalColor);
    border-right: 2px solid var(--generalColor);
    border-bottom: 2px solid var(--generalColor);
    border-left: none;
    border-radius: 0 var(--borderRadiusCustom) var(--borderRadiusCustom) 0;
    width: 100%;
    background-color: white;
    color: var(--generalColor);
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: ease-in 0.2s;
}
.formAddTask button:hover {
    background-color: var(--generalColor);
    color: white;
}