.errorMessage {
    position: absolute;
    bottom: 2rem;
    background-color: var(--red);
    padding: 0.5rem 1rem;
    border-radius: var(--borderRadiusCustom);
    color: white;
    justify-content: space-around;
    flex-direction: row;
}

.errorMessageButton {
    margin: 0 0 0 0;
    border-radius: var(--borderRadiusCustom);
    border: none;
    color: black;
    cursor: pointer;
    transition: 0.2s;
}
.errorMessageButton:hover {
    background-color: red;
    color: white;
}
.errorMessageText {
    margin: 0 20px 0 0 ;
}