.header {
    display: flex;
    justify-content: flex-start;
    color: var(--generalColor);
    background-color: white;
    padding: 1rem;
    margin: 0 0 1rem 0;
    -webkit-box-shadow: 0 0 60px -23px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 60px -23px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 60px -23px rgba(0, 0, 0, 0.2);
    border-radius: var(--borderRadiusCustom);
    position: relative;
}

.addTaskBox{
    /*background-color: white;*/
    display: flex;
    align-items: center;
    margin: 0 0 0 5rem;
    -webkit-box-shadow: 0 0 60px -23px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 60px -23px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 60px -23px rgba(0, 0, 0, 0.2);
    border-radius: var(--borderRadiusCustom);
}
.addTaskBox h4 {
    margin: 0 1rem 0 0;
}
.moonLogo{
    height: 2.5rem;
    width: 2.5rem;
    margin: 0 0.5rem 0 0;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}
.moonLogo:hover{
    transform: rotate(360deg);
}