/* my custom colors */

:root {
    --background: #E3E9FF;
    --generalColor: #a174d9;
    --green: #2eac64;
    --red: #e37482;
    --textColor: #9AA5C2;
    --borderRadiusCustom: 5px;
}

body{
    background-color: var(--background);
    color: var(--textColor);
    padding: 2rem;
}
hr{
    color: white;
}

h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}
.toDoLists{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}


