/* ============= TASK ============= */
.task h4 {
    margin: 1rem 0 0.5rem 0;
}
.task button{
    cursor: pointer;
}
.task li{
    margin: 0 0 0 1rem;
}
.task input{
    cursor: pointer;
}

.btnAll{
    margin: 0.5rem 0.5rem 0 0;
    background-color: skyblue;
}
.btnActive{
    margin: 0.5rem 0.5rem 0 0;
    background-color: #eda4a4;
    color: black;
}
.btnCompleted{
    margin: 0.5rem 0.5rem 0 0;
    background-color: aquamarine;
}